<h2>Lista Osób z Serwisu</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Wzrost (PLN)</th>
      <th>Data urodzenia</th>
      <th>Akcje</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let osoba of listaOsob">
      <td>{{ osoba.id }}</td>
      <td>{{ osoba.firstName }}</td>
      <td>{{ osoba.lastName }}</td>
      <td>{{ osoba.height | currency:'PLN':'symbol':'1.2-2' }}</td>
      <td>{{ osoba.birthDate | date:'dd.MM.yyyy' }}</td>
      <td>
        <a [routerLink]="['/szczegoly', osoba.id]">Pokaż szczegóły</a>
      </td>
    </tr>
  </tbody>
</table>